In [2]:
!pip install pydataset

Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     |████████████████████████████████| 15.9 MB 11.2 MB/s eta 0:00:01
Requirement already satisfied: pandas in /Applications/anaconda3/lib/python3.8/site-packages (from pydataset) (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /Applications/anaconda3/lib/python3.8/site-packages (from pandas->pydataset) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Applications/anaconda3/lib/python3.8/site-packages (from pandas->pydataset) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /Applications/anaconda3/lib/python3.8/site-packages (from pandas->pydataset) (1.18.5)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas->pydataset) (1.15.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939431 sha256=cd7f4217a3e5b6c6708728bc15f6e1f066c854f77b9e7f0873fce0e235c277b5
  Stored in directory: /Users/luisespinosagutierrez/Library/Caches/pip/wheels/d7/e5/36/85d319586b4a405d001029d489102f526ce5546248c295932a
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

In [1]:
from pydataset import data
import pandas as pd 
import numpy as np
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split

In [2]:
titanic=data("titanic")
titanic.sample(5)

         class     age    sex survived
871  3rd class  adults    man       no
249  1st class  adults  women      yes
727  3rd class  adults    man       no
349  2nd class  adults    man       no
489  2nd class  adults    man       no

In [3]:
# transformamos a variables dummies (binario 0 , 1) las variables categoricas para poder predecir
titanic=pd.get_dummies(titanic, drop_first=True)
titanic.sample(5)

     class_2nd class  class_3rd class  age_child  sex_women  survived_yes
683                0                1          0          0             1
289                0                0          0          1             1
633                0                1          0          0             1
674                0                1          0          0             1
998                0                1          0          0             0

In [4]:
# separando conjunto de entrenamiento y testing
X_train, X_test, y_train, y_test=train_test_split(titanic.drop("survived_yes", axis=1), titanic["survived_yes"])

In [22]:
# construyendo el modelo, ajustando nuestros datos a una linea logistica 
LogReg=LogisticRegression(solver="lbfgs") # modelo logistico
LogReg.fit(X_train, y_train) # ajuste del modelo a los datos

LogisticRegression()

In [24]:
# predecir si la niña sobrevive en el titanic 
LogReg.predict(np.array([[0,0,1,1]]))[0]

1

In [ ]:
# Predecir si un hombre sobrevive en el titanic